@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&subset=latin-ext');
/* Used by prismjs */
@import url('https://fonts.googleapis.com/css?family=Cousine&subset=latin-ext');

/* ------------------------------------------------------------------------------------------------------------------
DEFAULTS
------------------------------------------------------------------------------------------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    height: 100%;
}
body {
    line-height: 1;
    color: #000;
    background: #1d2021;
    height: 100%;
    margin-top: 30px;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
a img {
    border: none;
}
hr {
    border: 0;
    border-bottom: 1px dashed #3f3f3f;
}
.btn {
    margin-right: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .7rem;
    border-radius: 4px;
    padding: 6px 12px;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: #fff !important;
    text-decoration: none !important;
}
.btn[disabled] {
    background: gray !important;
    cursor: default !important;
}
.btn:hover {
    color: #fff !important;
}
.btn-info {
    background: #2196F3;
}
.btn-info:hover {
    background: #2aacff;
}
.btn-success {
    background: #8BC34A;
}
.btn-success:hover {
    background: #a5e451;
}
.btn-danger {
    background: #d12b37;
}
.btn-danger:hover {
    background: #fb3141;
}

/* ------------------------------------------------------------------------------------------------------------------
FONTS DEFAULTS
------------------------------------------------------------------------------------------------------------------ */
body,
td,
textarea
{
    line-height: 1.6;
    font-size: 1em;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #80c9ff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}






.content .breadcrumb {
    margin: 0 -15px 20px -15px !important;
    font-size: .9em;
    padding: 3px 15px;
    list-style: none;
}
.content a {
    color: #FF5722;
    text-decoration: underline;
}
.breadcrumb .active a {
    color: #80c9ff;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

/* ------------------------------------------------------------------------------------------------------------------
HEADER
------------------------------------------------------------------------------------------------------------------ */
.header {
    padding: 5px 10px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    clear: both;
}

.header h2 {
    float: left;
    color: #000;
}

.user-actions {
    float: right;
    margin-right: 20px;
}

.user-actions a {
    color: #000;
}

/* ------------------------------------------------------------------------------------------------------------------
NAV
------------------------------------------------------------------------------------------------------------------ */
.nav {
    font-size: 0.9em;
}
.nav-inner {
    padding: 2rem;
}
.nav-inner > ul ul {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-inner a {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #737c84;
}
.nav-inner a:hover {
    text-decoration: underline;
    color: #afafaf;
}

.nav-inner h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.nav-inner h2 {
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.nav-inner h3 {
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding-bottom: 2px;
}
.nav-inner h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 4px;
}
.nav-inner h5 {
    font-weight: normal;
    font-size: 0.9em;
    padding-left: 10px;
    margin-bottom: 10px;
}
.nav-inner h6 {
    font-weight: bold !important;
}



#page-toc {
    background: #2f99f1;
    margin-left: -2rem;
    margin-right: -1.5rem;
    padding: .5rem 1rem .5rem 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-top: .8rem;
}
#page-toc a {
    color: #a7d7ff;
    line-height: 16px;
    display: block;
    padding: 4px 0;
}
#page-toc .toc-active a, #page-toc a:hover {
    color: #fff
}
#page-toc .toc-active {
    border-color: #fff !important;
}
#page-toc .toc-h2 {
}
#page-toc .toc-h3 {
    padding-right: 4px;
    border-right: 10px solid rgba(255,255,255,.2);
}
#page-toc .toc-h4 {
    padding-right: 4px;
    border-right: 20px solid rgba(255,255,255,.2);
}

@media (max-width: 480px) {
    .nav {
        padding: 20px;
        border-bottom: solid 1px #dfe2e7;
    }
}
@media (max-width: 768px) {
    .nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .container {
        padding-left: 270px;
    }
    .nav {
        left: 0;
        top: 40px;
        bottom: 0;
        width: 260px;
        position: fixed;
        overflow-y: auto;
        background: #000;
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        cursor: pointer;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .15);
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
}



/* ----------------------------------------------------------------------------
 * Content styling
 */
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content pre:not([class*="language-"]),
.content blockquote {
    padding: 10px 0;
    box-sizing: border-box;
}

pre.CodeMirror-line {
    padding: 0 !important;
}

.content pre {
    font-family: Menlo, monospace;
    margin-bottom: 1em;
}
.content ol > li {
    list-style-type: decimal;
}
.content ul,
.content ol {
    margin-left: 20px;
}
.content ul > li {
    position: relative;
    list-style-type: disc;
}
.content li > :first-child {
    padding-top: 0;
}
.content strong,
.content b {
    font-weight: bold;
}
.content i,
.content em {
    font-style: italic;
}
.content code {
    font-family: Menlo, monospace;
    padding: 1px 3px;
    font-size: 0.95em;
    color: #adadad;
}
.content pre {
    max-height: 30rem;
}
.content pre > code {
    display: block;
    background: transparent;
    font-size: 1em;
    letter-spacing: -1px;
}
/*.content blockquote :first-child {*/
/*padding-top: 0;*/
/*}*/
/*.content blockquote :last-child {*/
/*padding-bottom: 0;*/
/*}*/
.content table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-collapse: collapse;
    clear: both;
}
.content table tr {
    margin: 0;
    padding: 0;
}
.content table tr :nth-child(2n) {
}
.content table tr th {
    text-align: auto;
    font-weight: bold;
    border: 1px solid #717171;
    margin: 0;
    padding: 6px 13px;
}
.content table tr td {
    text-align: auto;
    border: 1px solid #717171;
    margin: 0;
    padding: 6px 13px;
}
.content table tr th :first-child,
.content table tr td :first-child {
    margin-top: 0;
}
.content table tr th :last-child,
.content table tr td :last-child {
    margin-bottom: 0;
}
/* ----------------------------------------------------------------------------
 * Content
 */
.content-root {
    min-height: 90%;
    position: relative;
}
.content {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    zoom: 1;
    max-width: 800px;
}
.edit-mode .content {
    max-width: 100%;
}
.page-actions {
    margin-bottom: 20px;
}
.CodeMirror {
    height: auto !important;
    padding: 20px;
}
.content:before,
.content:after {
    content: "";
    display: table;
}
.content:after {
    clear: both;
}
.content blockquote {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background: #e06262;
    padding-left: 1rem;
}

.content h1 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 1px;
}

.content h2 {
    font-size: 2rem;
    font-weight: 300;
    color: #e8e8e8;
}
.content h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #e8e8e8;
}

.content h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .content h4,
    .content h5,
    .content .small-heading {
        padding-top: 20px;
    }
}
@media (max-width: 480px) {
    .content {
        padding: 20px;
        padding-top: 40px;
    }
    .content h4,
    .content h5,
    .content .small-heading {
        padding-top: 10px;
    }
}

.container, .content, .content-inner {
    min-height: 100%;
}

/* SimpleMDE toolbar */
.editor-toolbar {
    background: #fff;
    opacity: 1 !important;
}
.editor-preview-side {
    background: #1d2021 !important;
}
.cm-tab {
    width: 20px;
}
/*.CodeMirror.lang-markdown .cm-header-1 {*/
    /*font-size: 2rem;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-header-2 {*/
    /*font-size: 1.6rem;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-header-3 {*/
    /*font-size: 1.2rem;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-header-4 {*/
    /*font-size: 1rem;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-header-5 {*/
    /*font-size: .8rem;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-header-6 {*/
    /*!*font-size: 1rem;*!*/
/*}*/
/*.CodeMirror.lang-markdown .cm-comment {*/
    /*font-family: "Courier new";*/
    /*color: gray;*/
/*}*/
/*.CodeMirror.lang-markdown .cm-url {*/
    /*color: #03a9f4;*/
/*}*/
/* ------------------------------------------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------------------------------------------ */
.footer {
    padding: 20px;
    text-align: right;
}
.footer .themes {
    display: inline-block;
}
.footer .copyrights {
    display: inline-block;
    color: gray;
    font-size: 11px;
}

/* ------------------------------------------------------------------------------------------------------------------
LOGIN PAGE
------------------------------------------------------------------------------------------------------------------ */
.login-page {
    background: #33332F;
}

.login-page form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    min-height: 200px;
    margin: -150px 0 0 -150px;
    text-align: center;
    /*background: #ef8d31;*/
    background: rgb(177, 199, 57);
    border-bottom: 8px solid #272727;
    padding: 20px;
}

.login-page .form-group {
    margin-bottom: 10px;
}

.login-page .form-group.checkbox {
    text-align: left;
}

.login-page input[type=text], .login-page input[type=password] {
    border: 0;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.login-page button {
    width: 100%;
    border: 0;
    background: #353535;
    color: #fff;
    padding: 10px;
}

.content .code-action-download {
    background: rgb(29, 32, 33);
    top: -8px;
    position: relative;
    color: #FFC107;
    text-transform: uppercase;
    font-size: 10px;
    height: 25px;
    display: inline-block;
    padding: 6px 6px;
}
.code-action-download:hover {
    /*background: rgba(255, 255, 255, 0.5);*/
    color: #fff;
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*="language-"] {
    padding: 1rem;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
    font-family: 'Cousine', monospace;
}

.token.comment {
    font-size: 14px;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.event {
    margin-top: 60px;
}
.event-name {
    display: block;
    background: #2196f3;
    padding: 12px 0 0 10px;
    position: relative;
}
.event-name-label {
    display: none;
}
.event-name-name {
    font-size: 2rem;
    display: block;
    /* margin-top: -19px; */
    color: rgb(255, 255, 255);
}
.event-name-link {
    position: absolute;
    right: 25px;
    top: 16px;
    color: #fff !important;
    text-decoration: none !important;
}

.event-module-label {
    display: none;
}
.event-module-name {
    display: block;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 300;
    color: #c3e4ff;
    margin-bottom: -30px;
    padding-left: 12px;
    position: relative;
    z-index: 9999;
}
.event-arguments {

}
.event-arguments table {
}
.event-arguments table tr th {
    border: 0;
    text-transform: lowercase;
    font-weight: 300;
    font-size: .8rem;
    color: #c6dee6;
    padding-top: 2px;
    padding-bottom: 2px;
}
.event-arguments table tr td {
    border: 0;
}
td.event-argument-type {
    font-style: italic;
}
.event-toc-heading, .event-called-heading, .event-arguments-heading {
    font-size: 1.2rem;
    color: #c6dee6;
    background: #272727;
    display: block;
    padding: 2px 0 2px 10px;
    margin-top: 10px;
}
.event-toc {
    margin-bottom: 20px;
    background: #272822;
    padding: 20px;
}
.event-toc a {
    color: #fff;
}
.event-toc-list {
    margin-left: 10px;
}
.event-called-list {
    padding-left: 10px !important;
}

.mermaid .edgePath .path {
    stroke: #7e878a;
}
.mermaid .node circle, .mermaid .node ellipse, .mermaid .node polygon, .mermaid .node rect {
    fill: #ffffff;
    stroke-width: 0px;
}
