@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&subset=latin-ext');

/* ------------------------------------------------------------------------------------------------------------------
DEFAULTS
------------------------------------------------------------------------------------------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    height: 100%;
}
body {
    line-height: 1;
    color: #000;
    background: #ef6969;
    height: 100%;
    margin-top: 30px;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
a img {
    border: none;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ffb8b8;
}

/* ------------------------------------------------------------------------------------------------------------------
FONTS DEFAULTS
------------------------------------------------------------------------------------------------------------------ */
body,
td,
textarea
{
    line-height: 1.6;
    font-size: 1em;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #330606;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}






.content .breadcrumb {
    margin: 0 -15px 20px -15px !important;
    font-size: .9em;
    padding: 3px 15px;
    list-style: none;
    background-color: #ffb2b2;
}

.breadcrumb .active a {
    color: #da5252;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

/* ------------------------------------------------------------------------------------------------------------------
HEADER
------------------------------------------------------------------------------------------------------------------ */
.header {
    padding: 5px 10px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #330606;
    clear: both;
}

.header h2 {
    float: left;
}

.user-actions {
    float: right;
    margin-right: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------------------------------------------ */
.footer {
    padding: 20px;
    text-align: right;
}
.footer .themes {
    display: inline-block;
}
.footer .copyrights {
    display: inline-block;
    color: gray;
    font-size: 11px;
}


/* ------------------------------------------------------------------------------------------------------------------
NAV
------------------------------------------------------------------------------------------------------------------ */
.nav {
    font-size: 0.9em;
}
.nav-inner {
    padding: 2rem;
}
.nav-inner > ul ul {
    margin-left: 15px;
}
.nav-inner a {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
}
.nav-inner h4 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}
.nav-inner h5 {
    font-weight: normal;
    font-size: 0.9em;
    padding-left: 10px;
}
.nav-inner h6 {
    font-weight: bold !important;
}

.nav-inner > h1:first-child {
    margin-bottom: 10px;
}

#page-toc {
    background: #e06262;
    margin-left: -2rem;
    margin-right: -1.5rem;
    padding: .5rem 1rem .5rem 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-top: .8rem;
}
#page-toc a {
    color: #fff;
}
#page-toc .toc-active a, #page-toc a:hover {
    color: #000;
}
#page-toc .toc-h2 {
    padding-left: 10px;
}
#page-toc .toc-h3 {
    padding-left: 20px;
}

@media (max-width: 480px) {
    .nav {
        padding: 20px;
        border-bottom: solid 1px #dfe2e7;
    }
}
@media (max-width: 768px) {
    .nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .container {
        padding-left: 270px;
    }
    .nav {
        left: 0;
        top: 40px;
        bottom: 0;
        width: 260px;
        border-right: solid 1px #ff8383;
        position: fixed;
        overflow-y: auto;
    }
    .nav::-webkit-scrollbar {
        width: 8px;
        height: 15px;
        cursor: pointer;
    }
    .nav::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .5);
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    .nav::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .5);
    }
}



/* ----------------------------------------------------------------------------
 * Content styling
 */
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content pre:not([class*="language-"]),
.content blockquote {
    padding: 10px 0;
    box-sizing: border-box;
}
pre.CodeMirror-line {
    padding: 0 !important;
}
.edit-mode .content {
    max-width: 100%;
}
.CodeMirror {
    height: auto !important;
    padding: 20px;
}
.content pre {
    font-family: Menlo, monospace;
    margin-bottom: 1em;
}
.content ol > li {
    list-style-type: decimal;
}
.content ul,
.content ol {
    margin-left: 20px;
}
.content ul > li {
    position: relative;
    list-style-type: disc;
}
.content li > :first-child {
    padding-top: 0;
}
.content strong,
.content b {
    font-weight: bold;
}
.content i,
.content em {
    font-style: italic;
}
.content code {
    font-family: Menlo, monospace;
    background: #fb7a7a;
    padding: 1px 3px;
    font-size: 0.95em;
}
.content pre > code {
    display: block;
    background: transparent;
    font-size: 1em;
    letter-spacing: -1px;
}
/*.content blockquote :first-child {*/
    /*padding-top: 0;*/
/*}*/
/*.content blockquote :last-child {*/
    /*padding-bottom: 0;*/
/*}*/
.content table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-collapse: collapse;
    clear: both;
}
.content table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.content table tr :nth-child(2n) {
    background-color: #f8f8f8;
}
.content table tr th {
    text-align: auto;
    font-weight: bold;
    border: 1px solid #ccc;
    margin: 0;
    padding: 6px 13px;
}
.content table tr td {
    text-align: auto;
    border: 1px solid #ccc;
    margin: 0;
    padding: 6px 13px;
}
.content table tr th :first-child,
.content table tr td :first-child {
    margin-top: 0;
}
.content table tr th :last-child,
.content table tr td :last-child {
    margin-bottom: 0;
}
/* ----------------------------------------------------------------------------
 * Content
 */
.content-root {
    min-height: 90%;
    position: relative;
}
.content {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    zoom: 1;
    max-width: 800px;
}
.content:before,
.content:after {
    content: "";
    display: table;
}
.content:after {
    clear: both;
}
.content blockquote {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background: #e06262;
    padding-left: 1rem;
}

.content h1 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 1px;
}

.content h2 {
    font-size: 2rem;
    font-weight: 400;
}
.content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content h4 {
    font-size: 1.2rem;
    font-weight: 400;
}


/*@media (max-width: 768px) {*/
    /*.content h1,*/
    /*.content h2,*/
    /*.content h1:before,*/
    /*.content h2:before {*/
        /*background: #dfe2e7;*/
        /*left: -40px;*/
        /*top: -20px;*/
        /*width: 120%;*/
    /*}*/
/*}*/
/*.content h4,*/
/*.content h5,*/
/*.content .small-heading {*/
    /*border-bottom: solid 1px rgba(0,0,0,0.07);*/
    /*color: #9090aa;*/
    /*padding-top: 30px;*/
    /*padding-bottom: 10px;*/
/*}*/
/*.content h1:first-child {*/
    /*padding-top: 0;*/
/*}*/
/*.content h1:first-child,*/
/*.content h1:first-child a,*/
/*.content h1:first-child a:visited {*/
    /*color: #505050;*/
/*}*/
/*.content h1:first-child:before {*/
    /*display: none;*/
/*}*/
@media (max-width: 768px) {
    .content h4,
    .content h5,
    .content .small-heading {
        padding-top: 20px;
    }
}
@media (max-width: 480px) {
    .content {
        padding: 20px;
        padding-top: 40px;
    }
    .content h4,
    .content h5,
    .content .small-heading {
        padding-top: 10px;
    }
}

.container, .content, .content-inner {
    min-height: 100%;
}

.editor-textarea {
    width: 100%;
    height: 80%;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    color: rgb(248, 248, 242);
    font-weight: normal;
    padding: 10px;
    margin: 0px;
    width: 700px;
    height: 604px;
    background: rgb(39, 40, 34);
    outline: 0;
}

/* ------------------------------------------------------------------------------------------------------------------
LOGIN PAGE
------------------------------------------------------------------------------------------------------------------ */
.login-page {
    background: #33332F;
}

.login-page form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    min-height: 200px;
    margin: -150px 0 0 -150px;
    text-align: center;
    /*background: #ef8d31;*/
    background: rgb(177, 199, 57);
    border-bottom: 8px solid #272727;
    padding: 20px;
}

.login-page .form-group {
    margin-bottom: 10px;
}

.login-page .form-group.checkbox {
    text-align: left;
}

.login-page input[type=text], .login-page input[type=password] {
    border: 0;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.login-page button {
    width: 100%;
    border: 0;
    background: #353535;
    color: #fff;
    padding: 10px;
}

.code-action-download {
    background: rgba(255, 255, 255, 0.7);
    top: -19px;
    position: relative;
    color: #d48787;
    text-transform: uppercase;
    font-size: 10px;
    height: 25px;
    display: inline-block;
    padding: 6px 6px;
}
.code-action-download:hover {
    /*background: rgba(255, 255, 255, 0.5);*/
    color: #000;
}

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim Shedor
 */
code[class*="language-"],
pre[class*="language-"] {
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    position: relative;
    margin: .5em 0;
    overflow: visible;
    max-height: 30em;
}

code[class*="language"] {
    max-height: inherit;
    height: 100%;
    padding: 1em;
    display: block;
    overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position: relative;
    padding: .2em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
    right: 0.75em;
    left: auto;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
    opacity: .7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0;
}

