@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
body {
    background: #303030;
    font-family: "Open sans";
    color: #777171;
    border-top: 33px solid #242424;
}

h1, h2, h3, h4, h5, h6 {
    color: #867642;
    font-weight: 300;
}

a {
    color: #B4893D;
}

a:hover, a:focus {
    color: #B4893D;                
}

code {
    background: transparent;
    color: #B6A9AC;
}

pre {
    color: #919191;
    background: #4B4B4B;
    border: 0;
}

hr {
    border-color: #555;
}

blockquote {
    margin: 20px;
    border-left: 5px solid #4B4B4B;
    font-style: italic;
}

/* Table */
table {
    width: 100%;
}

td, th {
    color: #777171;
}

th {
    border-bottom: 1px solid #555;
    padding: 5px;
}

td {
    padding: 5px;
}

tr:nth-child(5n+2) td, tr:nth-child(5n+2) th {
    background: #474747;
    color: #8F8D8D;
}
/* --- */

.page-container { 
    position: relative;
    margin-top: -33px; 
}

/* Themes switcher */
.themes {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1;
}

.themes select {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
/* --- */


.content { 
    background: #3D3D3D; 
    border-radius: 6px; 
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.15); 
}
.content-inner { padding: 20px; }

.sidebar-inner { padding: 40px 20px 20px 20px; }

.sidebar ul { list-style: none; margin: 0; }
.sidebar-inner > ul { padding: 0 0 20px 0; }
.sidebar-inner > ul ul { padding-left: 20px; }
    .sidebar li {  }
    .sidebar li:last-child { border: 0; }

.sidebar-inner > ul > li > ul { font-size: 13px; }

.sidebar .page-actions {
    margin-top: 10px;
}


.page-actions a { margin-left: 5px; }

.form-control.textarea {
    width: 100%;
    height: 600px;
    font-size: 11px;
    font-family: "Courier New";
    background: #303030;
    color: #ADADAD;
    border-color: transparent;
    margin-top: 20px;
}

.saved-info {
    font-size: 11px;
    color: gray;
    margin-left: 20px;
    display: none;
}

.copyrights {
    color: gray;
}

.maki-name {
    text-decoration: none !important;
}
.maki-name strong {
    color: gray;
    text-decoration: none !important;
}

.main-header {
    margin-bottom: 20px;
}
.header-title {
    margin-left: 40px;
    margin-bottom: -10px;
}
.header-title a {
    text-decoration: none;
    color: gray;
}
.header-subtitle {
    color: gray;
    font-size: 10px;
    margin-left: 40px;
}

.breadcrumb {
    background: #464646;
    margin: 0 -15px;
    border-radius: 0;
    font-size: 12px;
    border-radius: 6px 6px 0 0;
}

.footer {
    margin-top: 10px;
    font-size: 11px;
}

.btn-info {
    color: #0C70BE;
    background-color: #BBD9E2;
    border-color: transparent;
    opacity: .5;
}

.btn-danger {
    color: #AF2121;
    background-color: #ECB6B4;
    border-color: transparent;
    opacity: .5;
}

/* PRISM */

/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk â/Reg(exp){2}lained/â
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: white;
    text-shadow: 0 -.1em .2em black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .5em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .15em .2em .05em;
    border-radius: .3em;
    border: .13em solid hsl(30,20%,40%);
    box-shadow: 1px 1px .3em -.1em black inset;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: hsl(30,20%,50%);
}

.token.punctuation {
    opacity: .7;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
    color: hsl(75, 70%, 60%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: hsl(40, 90%, 60%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: hsl(350, 40%, 70%);
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}